.mainEncoder{
    display: none;
    opacity: 0;
    width: 100%;
    height: auto;
    grid-template-columns: 4% 1% 50% 5% 35% 5%;
    grid-template-rows: 1em 5em 1em 12em 1em 5em 1em;
    grid-template-areas:
                        ". . . . . ."
                        "aluraLogo . encoderBody . encoderResult ."
                        ". . encoderBody . encoderResult ."
                        ". . encoderBody . encoderResult ."
                        ". . . . . ."
                        ". . encodeDecodeBox . copyBox ."
                        ". . . . . .";
    transition: opacity 1s;
}

.encoderBody{
    grid-area: encoderBody;
    width: 100%;
    height: 100%;
}

.textBoxArea,
.textResultBoxArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.textToProcess,
.textResultToProcess{
    font-size: 0.8em;
    resize: none;
    background-color: rgba(159, 180, 199, 0.342);
    border-radius: 0.5em;
    border: none;
    box-shadow: 10px 5px 5px black;
    padding: 0.4em;
    color: #eff1f7;
    max-width:100%;
}

::placeholder{
    color: #d0d3d6b6;
    font-style: italic;
}

.encoderResult{
    grid-area: encoderResult;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.noMessageBox{
    width: 100%;
    height: 92%;  
    box-shadow: 10px 5px 5px black;
    border-radius: 0.5em;
    border: none;
    background-color: rgba(159, 180, 199, 0.342);
    transition: opacity 1s;
}

.imageSearchBox,
.noMessageHeaderBox,
.noMessageDescBox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.noMessageDesc{
    font-size: 0.5em;
}

.imageSearch{
    width: 50%;
    height: 50%;
}

.encodeDecodeBox{
    grid-area: encodeDecodeBox;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textResultBox{
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.encodeButton,
.decodeButton,
.copyButton{
    border: none;
    font-size: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 1em;
    text-align: center;
    border-radius: 1em;
    font-family: 'Andika', sans-serif;
    cursor: pointer;
}

.encodeButton{
    padding: 0.5em 1.8em 0.5em 1.8em;
    background-color: #657153;
    color: #bec2c7;
}

.encodeButton:hover{
    background-color: #49523d;
    color: #d8dce0;
}

.decodeButton,
.copyButton{
    background-color: #bec2c7;
    color: #657153;
}

.decodeButton:hover,
.copyButton:hover{
    background-color: #d8dce0;
    color: #49523d;
}

.copyBox{
    grid-area: copyBox;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadpie{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 0.4em;
    align-items: center;
    justify-content: center;
    color: #EEEEFF;
}